<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/ee66294a-d28e-4966-a26d-405949acfc6c/resourceGroups/APIResourceGroup/providers/Microsoft.Web/sites/FinaloAPI</ResourceId>
    <ResourceGroup>APIResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://finaloapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c0b8ca76-14d5-4114-af79-47eb853199c8</ProjectGuid>
    <PublishUrl>https://finaloapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$FinaloAPI</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>